/* Homepage */
.homepage {
  background: url("../images/background.jpg") no-repeat center center/cover;
  height: 600px;
}

.homepage-content {
  text-align: center;
  padding-top: 170px;
  color: rgb(255, 255, 255);
}

.homepage-title {
  font-family: "Playfair Display", serif;

  font-size: 60px;
  font-weight: 600;
}

.homepage-text {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 20px;
}
