/* Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 95%;
  background-color: #0e2012;
}

.register-btn {
  background-color: #e99a3e;
  border: #e99a3e;
  border-radius: 20px;
}
